<div class="container">
    <div
        style="background-image:url('./assets/images/port.jpg');height:500px;background-size:cover;background-repeat: no-repeat">
        <h1 style="text-align: center;padding:20px">Welcome to MyPortfolio</h1>
        <div class="row" style="margin:40px">
            <div class="col-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="./assets/images/eed.jpg" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="./assets/images/rr.jfif" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>