<div class="container">
  <marquee width="100%" direction="left" height="25px" style="color:gold;font-size: 20px;">
    Welcome to Aadhar application.. Click here for new update
  </marquee>
  <div class="row">
    <div class="col">
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" src="https://www.clearias.com/up/Aadhar.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Welcome to Aadhar</h5>
          <p class="card-text" style="font-family:'Times New Roman', Times, serif;font-size:25px">Please Register before
            login,<br> Here you can update your aadhar <br> You can apply for new aadhar <br> You can cancel the aadhar
            for death persons <br> You can also apply duplicate aadhar</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div>
        <button type="button" class="mt-5 btn btn-success btn-lg btn-block" routerLink="/login"> User Login </button>
      </div>      <br>   <br>      <br>
      <div>
        <button type="button" class="btn btn-warning btn-lg btn-block" routerLink="/register"> Register </button>
      </div>     <br>   <br>      <br>
      <div>
        <button type="button" class="btn btn-dark btn-lg btn-block" routerLink="/admin"> Admin </button>
      </div>
    </div>

  </div>
</div>