<div class="list-group" style="margin: 50px;">
    <a href="#" class="list-group-item list-group-item-action active">
      Skills
    </a>
    <div  class="row" style="margin: 50px;">
        <div class="col">
            <div class="card text-blue bg-light mb-3" style="max-width:10em;">
                <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/c.png" alt="c image">
                <div class="card-body">
                    <h4 class="card-title text-black">C</h4>
                </div>
            </div>
        </div>
        <div class="col">
          <div class="card text-blue bg-light mb-3" style="max-width:10em;">
              <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/c++.png" alt="c++ image">
              <div class="card-body">
                  <h4 class="card-title text-black">C++</h4>
              </div>
          </div>
      </div>
      <div class="col">
        <div class="card text-blue bg-light mb-3" style="max-width:10em;">
            <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/jav.png" alt="java">
            <div class="card-body">
                <h4 class="card-title text-black">Java</h4>
            </div>
        </div>
        </div>
        
          <div class="col">
              <div class="card text-blue bg-light mb-3" style="max-width:10em;">
                  <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/python.png" alt="python">
                  <div class="card-body">
                      <h4 class="card-title text-black"> Python</h4>
                  </div>
              </div>
          </div>
          
          <div class="col">
            <div class="card text-blue bg-light mb-3" style="max-width:10em;">
                <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/js.png" alt="Java script">
                <div class="card-body">
                    <h4 class="card-title text-black">JavaScript</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 50px;">
        <div class="col">
          <div class="card text-blue bg-light mb-3" style="max-width:10em;">
              <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/bootstrap.png" alt="bootstrap">
              <div class="card-body">
                  <h4 class="card-title text-black">BootStrap</h4>
              </div>
          </div>
          </div>
         
            <div class="col">
                <div class="card text-blue bg-light mb-3" style="max-width:10em;">
                    <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/html.png" alt="html">
                    <div class="card-body">
                        <h4 class="card-title text-black">HTML</h4>
                    </div>
                </div>
            </div>
            <div class="col">
              <div class="card text-blue bg-light mb-3" style="max-width:10em;">
                  <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/css.png" alt="CSS">
                  <div class="card-body">
                      <h4 class="card-title text-black">CSS</h4>
                  </div>
              </div>
          </div>
          <div class="col">
            <div class="card text-blue bg-light mb-3" style="max-width:10em;">
                <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/angular.png" alt="Angular image">
                <div class="card-body">
                    <h4 class="card-title text-black">Angular</h4>
                </div>
            </div>
            </div>
            <div class="col">
                <div class="card text-blue bg-light mb-3" style="max-width:10em;">
                    <img class="card-img-top" style="height: 100px;width: 100px;" src="./assets/images/sql.png" alt="sql image">
                    <div class="card-body">
                        <h4 class="card-title text-black">SQL</h4>
                    </div>
                </div>
    </div>
  </div>
  </div>
  
