<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="https://www.simplilearn.com" class="navbar-brand">Simplilearn</a></div>

            <ul class="navbar-nav ">
                <li><a *ngIf="hardcodedAuthentication.isLoggedIn()" routerLink="/welcome/praveen/12345" class="nav-link">Home</a></li>
                <li><a *ngIf="hardcodedAuthentication.isLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>
            </ul>
            <ul class="navbar-nav navbar-collapse justify-content-end">
                <li><a *ngIf="!hardcodedAuthentication.isLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
                <li><a *ngIf="hardcodedAuthentication.isLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
            </ul>
    </nav>
</header>
