<div style="background-image:url('https://i.pinimg.com/originals/48/3f/d8/483fd84bce1d65ad5dcbaccfb78f12d0.jpg');background-size: cover;">
    <nav>
<div class="text-center" style="font-weight: bold;">
        <span style="font-family: 'Times New Roman', Times, serif;font-size: 30px;margin:10px;color:white" > {{title}} </span></div>
          <div class="text-center">
    <a href="login" class="m-3 navlink btn btn-warning btn-lg">Admin Login</a>
    <a href="emplogin" class="m-3 navlink btn btn-info btn-lg">Employee Login</a></div>
    <div class="row">
    <div class="col">
        <div class="mb-5 text-center">
            <img src="/assets/ex6.png">
        </div>
        </div>
        <div class="col">
        <div class="mb-5 text-center">
            <img src="/assets/ex7.png">
        </div></div></div>
        <div class="container">
            <router-outlet></router-outlet>

        </div>

    </nav>
  
       

    

    <div style="background-color: black;">
        <footer class="footer" style="font-size:20px">
            <div>
             <span><b>Contact us</b></span><br>
             <span>Email id: <i>group2@gmail.com</i></span><br>
             <span>Phone number: <i>9876543210</i></span><br>
             </div>
    </footer>
    </div></div>