<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Phase2 Practice Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
    <servlet-name>m5</servlet-name>
    <servlet-class>com.HttpSession1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m5</servlet-name>
    <url-pattern>/httpse1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m6</servlet-name>
    <servlet-class>com.HttpSession2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m6</servlet-name>
    <url-pattern>/httpse2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m3</servlet-name>
    <servlet-class>com.Servler1Url</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m3</servlet-name>
    <url-pattern>/urlre1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m4</servlet-name>
    <servlet-class>com.Servletf2Url</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m4</servlet-name>
    <url-pattern>/urlre2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m1</servlet-name>
    <servlet-class>com.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m1</servlet-name>
    <url-pattern>/loginser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>m2</servlet-name>
    <servlet-class>com.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m2</servlet-name>
    <url-pattern>/urlwrite</url-pattern>
  </servlet-mapping>
</web-app>