<app-header></app-header>
<div class="container" >
    <div class="row">
        <div class="com-md-6">
            <div class="card  bg-warning">
                <div class="text-center">
                    <h1>Login</h1>
                    <h3>Please the login details</h3>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="btn btn-dark mx-3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Change Password</a>
                </form>
                <a style="color:black;margin-top: 10px;"  routerLink="/signup">New User,click here to singup</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Old Password</label>
                        <input type="text" class="form-control" id="exampleInputFirstname1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">New Password</label>
                        <input type="text"  class="form-control" id="exampleInputLastname1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                        <input type="email"  class="form-control" id="exampleInputEmail1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
               
                <button type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>