<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class = "navbar-nav">
    <li class = "nav-item ml-4 mr-5">
        <button class="btn btn-light" (click)="getsal(employees.empId)">SalaryDetails</button>
    </li>&nbsp;&nbsp;&nbsp;
    <li class = "nav-item ml-4 mr-5">
        <button class="btn btn-light" (click)="attendance(employees.empId)">Attendance</button>
    </li>&nbsp;&nbsp;&nbsp;
    <li class = "nav-item ml-4 mr-5">
        <button class="btn btn-light" (click)="timesheet(employees.empId)">Timesheet</button>
    </li>&nbsp;&nbsp;&nbsp;
    <li class = "nav-item ml-4 mr-5">
        <button class="btn btn-light" (click)="Schedule(employees.empId)">Schedule</button>
    </li>&nbsp;&nbsp;&nbsp;
    <li class = "nav-item ml-4 mr-5">
        <button class="btn btn-light" (click)="Leave(employees.empId)">Leave</button>
    </li>
    <li class = "nav-item ml-4 mr-5">
        <button class="btn btn-outline-danger" type="submit" style="float: right;" (click)="Logout()">Logout</button>
    </li>
</ul></nav>


    <div class="salary">

<h2 style="font-weight: bold;font-size: 30px ">Employee Details</h2>
<table class="table table-striped table-dark">
    <thead style="font-size: 11px;"class="text-center">
        <tr>
            <th>empId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Street</th>
            <th>Location</th>
            <th>City</th>
            <th>State</th>
            <th>Pincode</th>
            <th>Mobno</th>
            <th>EmailId</th>
            <th>Password</th>
            <th>Designation</th>
            <th>Actions</th>
        </tr>
    </thead>
 <tbody style="font-size: 11px;" class="text-center">
    <tr>

        <td> {{employees.empId}} </td>
        <td> {{employees.fName}} </td>
        <td> {{employees.lName}} </td>
        <td> {{employees.dob}} </td>
        <td> {{employees.gender}} </td>
        <td> {{employees.street}} </td>
        <td> {{employees.location}} </td>
        <td> {{employees.city}} </td>
        <td> {{employees.state}} </td>
        <td> {{employees.pincode}} </td>
        <td> {{employees.mobNo}} </td>
        <td> {{employees.emailId}} </td>
        <td> {{employees.password}} </td>
        <td> {{employees.designation}} </td>
        <td>
            &nbsp;&nbsp;<button (click)= "updateEmployee(employees.empId)" class="btn btn-info">Update</button>

        </td>
        </tr>
      
 </tbody>
</table>

        <h2 style="font-weight: bold;font-size: 30px">Salary Details</h2>
    <table class="table table-striped table-dark">
        <thead style="font-size: 11px;"class="text-center">
            <tr>
                <th>SalId</th>
                <th>EmpId</th>
                <th>Basic pay</th>
                <th>Dearness Allowance</th>
                <th>House Rent Allowance</th>
                <th>Gross salary</th>
                <th> Pf amount</th>
                <th>Tax</th>
                <th>Deduction</th>
                <th>NetPay</th>
                <th> Transaction date</th>
               <th>Action</th>
            </tr>
        </thead>
     <tbody style="font-size: 11px;"class="text-center">
            <td>{{salary.salId}}</td>
            <td>{{salary.empId}}</td>
            <td>{{salary.basicPay}}</td>
            <td>{{salary.da}}</td>
            <td>{{salary.hra}}</td>
            <td>{{salary.grossSalary}}</td>
            <td>{{salary.pfAmount}}</td>
            <td>{{salary.tax}}</td>
            <td>{{salary.deduction}}</td>
            <td>{{salary.netPay}}</td>
            <td>{{salary.tranDate}}</td><button class="btn btn-secondary" (click)="printPage()"> PRINT</button></tbody></table>


