.navbar-nav {
  color: white;
  font-size: small;
}
.container {
  color: yellow;
}
a
{
  font-size:17px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
}
tr,th,td{
  font-size:10px;
}