.card {
  background: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHNvbGlkJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
  margin-top: 30px;
}
span{
  color: darkblue;
}