<div class="card footer" >
    <div class="bg-dark py-2 text-muted">
        <div class="container">
            <div>Contact</div>
            <div class="btn-group btn-group-sm my-2" role="group" aria-label="footer">
                <button type="btn btn-secondary"><a style="text-decoration:none;color:black" href="https://www.facebook.com/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></button>
                <button type="btn btn-secondary"><a style="text-decoration:none;color:black" href="https://www.whatsapp.com/"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></button>
                <button type="btn btn-secondary"><a style="text-decoration:none;color:black" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></button>
                <button type="btn btn-secondary"><a style="text-decoration:none;color:black" href="https://www.email.com/"><i class="fa fa-envelope"></i></a></button>
            </div>
        </div>
    </div>
</div>