<div class="container" style="background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190813/pngtree-digital-technology-blue-background-banner-image_298195.jpg');background-size:cover;height:400px;margin-top: 20px;border-radius: 25px;box-shadow: 10px 10px 5px black;">
  <div class="text-center"><h2>Salary report</h2>
    <p style="font-size:large">Monthly salary report </p></div>
    <div class="row">
      <div class="col">
  <table class="table" >
    <thead >
    <tr>
     
      <tr>  <th scope="col">Employee Id</th><td>{{salary.empId}}</td></tr>
      <tr> <th scope="col">Basic pay</th><td>{{salary.basicPay}}</td></tr>
      <tr> <th scope="col">Dearness Allowance</th><td>{{salary.da}}</td></tr>
      <tr> <th scope="col">House Rent Allowance</th><td>{{salary.hra}}</td></tr>
      <tr> <th scope="col">Gross Salary</th> <td>{{salary.grossSalary}}</td></tr>
    </thead>
  </table>
    </div>
    <div class="col">
      <table class="table" >
        <thead >
      
      <tr> <th scope="col">Provident Fund</th> <td>{{salary.pfAmount}}</td></tr>
      <tr> <th scope="col">Tax</th> <td>{{salary.tax}}</td></tr>
      <tr> <th scope="col">Deduction</th><td>{{salary.deduction}}</td></tr>
      <tr><th scope="col">NetPay</th> <td>{{salary.netPay}}</td></tr>
      <tr><th scope="col">Transaction date</th><td>{{salary.tranDate}}</td></tr>
    
    </thead>
  </table>
  </div>
  
  <div class="text-center">
  <button type="submit" class="btn btn-secondary" (click)="gotolist()">Back</button>
  </div>
  </div>
</div>