<form>
    {{message}}
<div class="row">
    
    <div class="col"> <label>Enter the EmailId</label><br><input type="text" [(ngModel)]="details.email" name="email" placeholder="email"><br>
        <label>Enter the FirstName</label><br> <input type="text" [(ngModel)]="details.firstName" name="firstName" placeholder="firstName"><br>
        <label>Enter the LastName</label><br><input type="text" [(ngModel)]="details.lastName" name="lastName" placeholder="lastName"><br>
        <label>Enter the Address</label><br><input type="text" [(ngModel)]="details.address" name="address" placeholder="address"><br>
        <label>Enter the Gender</label><br><input type="text" [(ngModel)]="details.gender" name="gender" placeholder="gender"><br>
        <label>Enter the CitizenId</label><br><input type="text" [(ngModel)]="details.citizenId" name="citizenId" placeholder="citizenId"><br>
        <label>Enter the AadharNo </label><br><input type="text" [(ngModel)]="details.aadharNo" name="aadharNo" placeholder="aadharNo"><br>
        <label>Enter the IssueDate</label><br><input type="text" [(ngModel)]="details.issueDate" name="issueDate" placeholder="issueDate"><br>
    </div>
    <div class="col">
    <label>Enter the Dob</label><br><div class="col"><input type="text" [(ngModel)]="details.dob" name="dob" placeholder="DOB"><br>
        <label>Enter the Age</label><br><input type="text" [(ngModel)]="details.age" name="age" placeholder="age"><br>
        <label>Enter the Pan No</label><br><input type="text" [(ngModel)]="details.panNo" name="panNo" placeholder="panNo"><br>
        <label>Enter the Passport Id</label><br><input type="text" [(ngModel)]="details.passportId" name="passportId" placeholder="passportId"><br>
        <label>Enter the Date of Application</label><br><input type="text" [(ngModel)]="details.dateofApplication" name="dateofApplication" placeholder="dateofApplication"><br>
        <label>Enter the CurrentStatus</label><br><input type="text" [(ngModel)]="details.currentStatus" name="currentStatus" placeholder="currentStatus"><br>
        <label>Enter the ApplicationId</label><br><input type="text" [(ngModel)]="details.applicationId" name="applicationId" placeholder="applicationId"><br>
</div></div>
</div>
<div>
    <input class="btn btn-success mx-3" type="submit" name="submit_reg" value="Approve" (click)="updateNow()"><br>
    </div>
    <a class="alert alert-warning" *ngIf="message =='Updated Successfully'" routerLink="/logout">Approved Successfully.. Click here to Logout</a>
</form>