.container {
    background-image:url('https://ourbetterangels.org/images/WDF_1534298.jpg') ;
    margin-top: 30px;
    max-width: 400px;
  }
  label
  {
     color:white;
  }
input 
{
    border-radius: 20px;
    width:90%;
    margin-left: 20px;
}
img{width:20%; height:20%}