<nav class="text-center bg-info">
  
    <div class="text-center" >
        <span style="font-size: 25px;" class="navbar-brand mx-auto ">Leave</span>
    </div>
  </nav>
<table class ="table ">
  
    <thead style="background-color:black; color:white">
        <tr>
            <th>EmpId</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSs9UrznbW87VjrBPE-sPkxRoAr6Ke5mLOJqg&usqp=CAU');background-size:cover"class="text-white">
        <tr>
        <td> {{leave.empId}}</td>
        <td> {{leave.leavetype}}</td>
        <td> {{leave.startdate}}</td>
        <td> {{leave.enddate}}</td>
        <td> {{leave.duration}}</td>
        
        </tr>
    </tbody>
</table>
<div class="text-center">
    <button class="btn btn-warning" (click)="Back()">Back</button></div>