.container{
    width: 100%;
    margin-bottom: 30px; 
    background-image: url('/assets/qq.jpg');
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px gray;
  }
  
  .textual{
    font-family: 'Arial Black',sans-serif;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear :both
  }